/**
 * Dark theme
 *
 * Copyright (C) 2017, Tyler "-z-" Mulligan (z@xnz.me)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 *
 * Icons by Mark James (http://www.famfamfam.com/lab/icons/silk/)
 * Licensed under the Creative Commons CC-BY license (http://creativecommons.org/licenses/by/3.0/)
 */
/**
 * SCEditor
 * http://www.ssceditor.com/
 *
 * Copyright (C) 2011-12, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 */

@font-face {
    font-family: 'Monocons';
    src: url('monocons/monocons.eot');
    src: url('monocons/monocons.eot?#iefix') format('embedded-opentype'), url('monocons/monocons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.sceditor-button div:before,
div.sceditor-grip {
    font-family: 'Monocons';
    font-size: 16px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.sceditor-button-youtube div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e000');
}
.sceditor-button-unlink div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e001');
}
.sceditor-button-underline div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e002');
}
.sceditor-button-time div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e003');
}
.sceditor-button-table div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e004');
}
.sceditor-button-superscript div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e005');
}
.sceditor-button-subscript div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e006');
}
.sceditor-button-strike div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e007');
}
.sceditor-button-source div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e008');
}
.sceditor-button-size div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e009');
}
.sceditor-button-rtl div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00a');
}
.sceditor-button-right div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00b');
}
.sceditor-button-removeformat div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00c');
}
.sceditor-button-quote div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00d');
}
.sceditor-button-print div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00e');
}
.sceditor-button-pastetext div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00f');
}
.sceditor-button-paste div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e010');
}
.sceditor-button-orderedlist div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e011');
}
.sceditor-button-maximize div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e012');
}
.sceditor-button-ltr div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e013');
}
.sceditor-button-link div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e014');
}
.sceditor-button-left div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e015');
}
.sceditor-button-justify div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e016');
}
.sceditor-button-italic div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e017');
}
.sceditor-button-image div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e018');
}
.sceditor-button-horizontalrule div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e019');
}
.sceditor-button-format div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01c');
}
.sceditor-button-font div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01d');
}
.sceditor-button-emoticon div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01e');
}
.sceditor-button-email div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01f');
}
.sceditor-button-bold div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e020');
}
.sceditor-button-date div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e021');
}
.sceditor-button-cut div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e022');
}
.sceditor-button-copy div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e023');
}
.sceditor-button-color div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e024');
}
.sceditor-button-code div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e025');
}
.sceditor-button-center div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e026');
}
.sceditor-button-bulletlist div {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e027');
}
div.sceditor-grip {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01b');
}
.rtl div.sceditor-grip {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01a');
}
.sceditor-button-youtube div:before {
    content: "\e000";
}
.sceditor-button-unlink div:before {
    content: "\e001";
}
.sceditor-button-underline div:before {
    content: "\e002";
}
.sceditor-button-time div:before {
    content: "\e003";
}
.sceditor-button-table div:before {
    content: "\e004";
}
.sceditor-button-superscript div:before {
    content: "\e005";
}
.sceditor-button-subscript div:before {
    content: "\e006";
}
.sceditor-button-strike div:before {
    content: "\e007";
}
.sceditor-button-source div:before {
    content: "\e008";
}
.sceditor-button-size div:before {
    content: "\e009";
}
.sceditor-button-rtl div:before {
    content: "\e00a";
}
.sceditor-button-right div:before {
    content: "\e00b";
}
.sceditor-button-removeformat div:before {
    content: "\e00c";
}
.sceditor-button-quote div:before {
    content: "\e00d";
}
.sceditor-button-print div:before {
    content: "\e00e";
}
.sceditor-button-pastetext div:before {
    content: "\e00f";
}
.sceditor-button-paste div:before {
    content: "\e010";
}
.sceditor-button-orderedlist div:before {
    content: "\e011";
}
.sceditor-button-maximize div:before {
    content: "\e012";
}
.sceditor-button-ltr div:before {
    content: "\e013";
}
.sceditor-button-link div:before {
    content: "\e014";
}
.sceditor-button-left div:before {
    content: "\e015";
}
.sceditor-button-justify div:before {
    content: "\e016";
}
.sceditor-button-italic div:before {
    content: "\e017";
}
.sceditor-button-image div:before {
    content: "\e018";
}
.sceditor-button-horizontalrule div:before {
    content: "\e019";
}
.sceditor-button-format div:before {
    content: "\e01c";
}
.sceditor-button-font div:before {
    content: "\e01d";
}
.sceditor-button-emoticon div:before {
    content: "\e01e";
}
.sceditor-button-email div:before {
    content: "\e01f";
}
.sceditor-button-bold div:before {
    content: "\e020";
}
.sceditor-button-date div:before {
    content: "\e021";
}
.sceditor-button-cut div:before {
    content: "\e022";
}
.sceditor-button-copy div:before {
    content: "\e023";
}
.sceditor-button-color div:before {
    content: "\e024";
}
.sceditor-button-code div:before {
    content: "\e025";
}
.sceditor-button-center div:before {
    content: "\e026";
}
.sceditor-button-bulletlist div:before {
    content: "\e027";
}
div.sceditor-grip:before {
    content: "\e01b";
}
.rtl div.sceditor-grip:before {
    content: "\e01a";
}
/**
 * SCEditor
 * http://www.ssceditor.com/
 *
 * Copyright (C) 2011-12, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 */

/*---------------------------------------------------
    LESS Elements 0.7
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.sceditor-container {
    position: relative;
    background: #2b2b2b;
    border: 1px solid #444;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #222;
    line-height: 1;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
}
.sceditor-container,
.sceditor-container div,
div.sceditor-dropdown,
div.sceditor-dropdown div {
    padding: 0;
    margin: 0;
    z-index: 3;
}
.sceditor-container iframe,
.sceditor-container textarea {
    line-height: 1;
    border: 0;
    outline: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #111;
    padding: 0;
    margin: 5px;
    resize: none;
    background: #fff;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 99% !important;
}
div.sceditor-resize-cover {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.3;
}
.ie6 div.sceditor-resize-cover,
.ie7 div.sceditor-resize-cover,
.ie8 div.sceditor-resize-cover {
    background: #efefef;
}
.sceditor-container.ie6 {
    overflow: hidden;
}
div.sceditor-grip {
    overflow: hidden;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.sceditor-maximize {
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 2000;
}
html.sceditor-maximize,
body.sceditor-maximize {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.ie6.sceditor-maximize {
    position: absolute;
}
.sceditor-maximize div.sceditor-grip {
    display: none;
}
.sceditor-maximize div.sceditor-toolbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/**
	 * Dropdown styleing
	 */
div.sceditor-dropdown {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    z-index: 4000;
    padding: 10px;
    line-height: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
div.sceditor-dropdown a,
div.sceditor-dropdown a:link {
    color: #333;
}
div.sceditor-dropdown form {
    margin: 0;
}
div.sceditor-dropdown label {
    display: block;
    font-weight: bold;
    color: #eaeaea;
    padding: 4px 0;
}
div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: 0;
    padding: 4px;
    border: 1px solid #ccc;
    border-top-color: #888;
    margin: 0 0 .75em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.sceditor-dropdown textarea {
    padding: 6px;
}
div.sceditor-dropdown input:focus,
div.sceditor-dropdown textarea:focus {
    border-color: #aaa;
    border-top-color: #666;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
div.sceditor-dropdown .button {
    font-weight: bold;
    color: #444;
    padding: 6px 12px;
    background: #ececec;
    border: solid 1px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    margin: .3em 0 0;
}
div.sceditor-dropdown .button:hover {
    background: #f3f3f3;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
div.sceditor-font-picker,
div.sceditor-fontsize-picker,
div.sceditor-format {
    padding: 6px 0;
}
div.sceditor-emoticons,
div.sceditor-more-emoticons,
div.sceditor-color-picker {
    padding: 0;
}
.sceditor-pastetext textarea {
    border: 1px solid #bbb;
    width: 20em;
}
.sceditor-emoticons img,
.sceditor-more-emoticons img {
    padding: 0;
    cursor: pointer;
    margin: 2px;
}
.sceditor-more {
    border-top: 1px solid #bbb;
    display: block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 0;
}
.sceditor-dropdown a:hover {
    background: #eee;
}
.sceditor-fontsize-option,
.sceditor-font-option,
.sceditor-format a {
    display: block;
    padding: 7px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #222;
}
.sceditor-fontsize-option {
    padding: 7px 13px;
}
.sceditor-color-column {
    float: left;
}
.sceditor-color-option {
    display: block;
    border: 1px solid #fff;
    height: 10px;
    width: 10px;
    overflow: hidden;
}
.sceditor-color-option:hover {
    border: 1px solid #333;
}
/**
	 * Toolbar styleing
	 */
div.sceditor-toolbar {
    overflow: hidden;
    padding: 3px 5px 2px;
    background: #f7f7f7;
    border-bottom: 1px solid #c0c0c0;
    line-height: 0;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.sceditor-group {
    display: inline-block;
    background: #ddd;
    margin: 1px 5px 1px 0;
    padding: 1px;
    border-bottom: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ie6 div.sceditor-group,
.ie7 div.sceditor-group {
    display: inline;
    zoom: 1;
}
.sceditor-button {
    float: left;
    cursor: pointer;
    padding: 3px 5px;
    width: 16px;
    height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* Needed for Safari 5? */

    text-indent: -9999px;
}
.ie .sceditor-button {
    text-indent: 0;
}
.ie6 .sceditor-button,
.ie7 .sceditor-button {
    float: none !important;
    display: inline;
    zoom: 1;
}
.ie6 .sceditor-button {
    padding: 0;
}
.ie6 .sceditor-button div {
    margin: 5px;
}
.ie7 .sceditor-button div {
    margin: 5px 0;
}
.sceditor-button:hover,
.sceditor-button:active,
.sceditor-button.active {
    background: #000;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
}
.sceditor-button:active {
    background: #000;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
}
.sceditor-button.disabled:hover {
    background: inherit;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.sceditor-button,
.sceditor-button div {
    display: block;
}
.sceditor-button div {
    margin: 2px 0;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.sceditor-button.disabled div {
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.text .sceditor-button,
.text .sceditor-button div,
.sceditor-button.text,
.sceditor-button.text div,
.text-icon .sceditor-button,
.text-icon .sceditor-button div,
.sceditor-button.text-icon,
.sceditor-button.text-icon div {
    width: auto;
    overflow: visible;
    line-height: 16px;
    font-size: 1em;
    color: inherit;
    text-indent: 0;
}
.text .sceditor-button div,
.sceditor-button.text div {
    padding: 0 2px;
    background: none;
}
.text-icon .sceditor-button div,
.sceditor-button.text-icon div {
    padding: 0 2px 0 20px;
}
.rtl div.sceditor-toolbar {
    text-align: right;
}
.rtl .sceditor-button {
    float: right;
}
.rtl div.sceditor-grip {
    right: auto;
    left: 0;
}
.ie7 .sceditor-button div,
.ie6 .sceditor-button div {
    font-family: 'Monocons';
    overflow: visible;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
}
div.sceditor-grip {
    height: 16px;
    width: 16px;
}
.sceditor-button div:before,
div.sceditor-grip:before {
    text-indent: 0;
    line-height: 17px;
    width: 16px;
    height: 16px;
    display: block;
    color: #333;
    text-shadow: 0 1px #fff;
}
.sceditor-container {
    border-color: #111;
}
div.sceditor-toolbar {
    color: #fff;
    background: #2b2b2b;
    border-color: #111;
}
div.sceditor-group {
    margin: 2px 5px 2px 0;
    border: 0;
    background: #777777;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #777777 0%, #555555 40%, #444444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(40%, #555555), color-stop(100%, #444444));
    background: -webkit-linear-gradient(top, #777777 0%, #555555 40%, #444444 100%);
    background: -o-linear-gradient(top, #777777 0%, #555555 40%, #444444 100%);
    background: -ms-linear-gradient(top, #777777 0%, #555555 40%, #444444 100%);
    background: linear-gradient(to bottom, #777777 0%, #555555 40%, #444444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#444444', GradientType=0);
}
.sceditor-button div:before,
div.sceditor-grip:before {
    color: #ddd;
    text-shadow: 0 1px #000;
}
.sceditor-container.sourceMode {
    background: #1f1f1f;
}
.sceditor-container textarea {
    color: #fff;
    background: #1f1f1f;
}

/* Additional buttons (for MyBB) */
.sceditor-button-video div  {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e000');
}

.sceditor-button-video div:before {
    content: "\e000";
}

.sceditor-button-php div  {
    *zoom: expression(this.runtimeStyle['zoom'] = '0', this.innerHTML = '\24C5');
}

.sceditor-button-php div:before {
    content: "\24C5";
    font-size: 17px;
    line-height: 0.85;
}

.sceditor-button-php:hover {
    text-decoration: none;
}